# ======================
# Environment variables
# ======================
.env
.env.*
google-credentials.json
credentials.json

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual environments
# ======================
venv/
.env/
.venv/

# ======================
# Django
# ======================
db.sqlite3
media/
staticfiles/

# ======================
# VS Code
# ======================
.vscode/

# ======================
# OS / Editor junk
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log