{% extends "base.html" %}

{% block title %}Add Sighting - Bird Alert{% endblock %}

{% block content %}

<h2 class="title">Select Sighting Location</h2>
<div id="map"></div>

{% endblock %}

{% block extra_js %}
<script>

  const map = L.map('map').setView([25.9017, -97.4977], 15);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; OpenStreetMap contributors'
  }).addTo(map);

  let marker;

map.on('click', function (e) {
    var lat = e.latlng.lat;
    var lng = e.latlng.lng;

    var baseUrl = "{% url 'sightings:sighting_form' %}";
    var addUrl = baseUrl + "?lat=" + lat + "&lng=" + lng;

    L.popup()
      .setLatLng(e.latlng)
      .setContent(`
          <div style="text-align:center;">
              <p>New Sighting Here?</p>
              <a href="${addUrl}" class="btn btn-primary text-white" style="background-color: #00a2ff; color: white; padding: 8px 12px; border-radius: 4px; text-decoration: none; display: inline-block;">
                Add my Sighting
              </a>
          </div>
      `)
      .openOn(map);
});

</script>
{% endblock %}
